@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*,
::after,
::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

img {
    width: 100%;
    object-fit: cover;
    vertical-align: middle;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

body {
    font-family: 'Poppins', sans-serif;
}

.dashboard-container {
    display: flex;
}

#sidebar{
    display: flex;
    flex-direction: column;
    width: 90px;
    min-width: 90px;
    transition: all 0.25s ease-in-out;
    background-color: #406ad4;
    height: 100vh;
    position: sticky;
    top: 0;
    left: 0;
    overflow-y: auto;
}

/* Sidebar Styling:-CONTD*/
#sidebar.expand{
    width: 300px;
    min-width: 300px;
}

.sidebar-widget{
    display: flex;
    justify-content: space-between;
    align-items: 1.5rem;
    border-bottom: 1px solid #606164;
}

.toggle-btn{
    width: 30px;
    height: 30px;
    color: #FFF;
    border-radius: 0.425rem;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #323c55;
    border: none;
}
#sidebar:not(.expand) .sidebar-logo,
#sidebar:not(.expand) a.sidebar-link span{
    display: none;
}

.sidebar-logo a{
    color: #FFF;
    font-size: 1.15rem;
    font-weight: 800;
}

.sidebar-nav{
    padding: 0;
    flex: 1 1 auto;
}

a.sidebar-link{
    padding: 0.625rem 1.625rem;
    color: #FFF;
    display: block;
    font-weight: 700;
    white-space: nowrap;
    border-left: 3px solid transparent;
}

.sidebar-link i{
    font-size: 1.1rem;
    margin-right: 0.75rem;
}

.sidebar-item{
    position: relative;
    margin: 5px 0;
}