@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*,
::after,
::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

img {
    width: 100%;
    object-fit: cover;
    vertical-align: middle;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

body {
    font-family: 'Poppins', sans-serif;
}

.dashboard-container {
    display: flex;
}

#sidebar{
    display: flex;
    flex-direction: column;
    width: 90px;
    min-width: 90px;
    transition: all 0.25s ease-in-out;
    background-color: #406ad4;
    height: 100vh;
    position: sticky;
    top: 0;
    left: 0;
    overflow-y: auto;
}

/* Sidebar Styling:-CONTD*/
#sidebar.expand{
    width: 300px;
    min-width: 300px;
}

.sidebar-widget{
    display: flex;
    justify-content: space-between;
    align-items: 1.5rem;
    border-bottom: 1px solid #606164;
}

.toggle-btn{
    width: 30px;
    height: 30px;
    color: #FFF;
    border-radius: 0.425rem;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #323c55;
    border: none;
}
#sidebar:not(.expand) .sidebar-logo,
#sidebar:not(.expand) a.sidebar-link span{
    display: none;
}

.sidebar-logo a{
    color: #FFF;
    font-size: 1.15rem;
    font-weight: 800;
}

.sidebar-nav{
    padding: 0;
    flex: 1 1 auto;
}

a.sidebar-link{
    padding: 0.625rem 1.625rem;
    color: #FFF;
    display: block;
    font-weight: 700;
    white-space: nowrap;
    border-left: 3px solid transparent;
}

.sidebar-link i{
    font-size: 1.1rem;
    margin-right: 0.75rem;
}

.sidebar-item{
    position: relative;
    margin: 5px 0;
}

* Sidebar Navigation Dropdown */

.sidebar-item .sidebar-dropdown {
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    padding: 0;
    width: 100%;
    transition: opacity 200ms linear, max-height 200ms linear;
    will-change: opacity, max-height;
}

#sidebar.expand .sidebar-item .has-dropdown.active+.sidebar-dropdown {
    display: block;
    max-height: 15em;
    transition: all 200ms linear;
    opacity: 1;
}

/* Dropdown Icon */

#sidebar.expand .sidebar-link.has-dropdown::after {
    content: "";
    display: inline-block;
    padding: 2px;
    position: absolute;
    right: 1.5rem;
    top: 1.4rem;
    transform: rotate(45deg);
    transition: all .2s ease-out;
    border: solid;
    border-width: 0 .075rem .075rem 0;
}

#sidebar.expand .sidebar-link.has-dropdown.active::after {
    transform: rotate(-135deg);
    transition: all .2s ease-out;
}

/* Sidebar Dropdown Hover Effect */

.sidebar-dropdown a.sidebar-link {

}

.sidebar-dropdown a.sidebar-link::before {
    content: "";
    height: 0.125rem;
    width: 0.375rem;
    background-color: #ffffff80;
    position: absolute;
    left: 1.8rem;
    top: 50%;
    transform: translateY(-50%);
    transition: all 0.5s;
}

.sidebar-dropdown a.sidebar-link:hover:before {
    width: 1.25rem;
}

.sidebar-dropdown a.sidebar-link:hover {
    background: transparent;
    border-left: 3px solid transparent;
    padding-left: 3.8rem;
    color: #7257f2;
}

* Sidebar Navigation Dropdown */

.sidebar-item .sidebar-dropdown {
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    padding: 0;
    width: 100%;
    transition: opacity 200ms linear, max-height 200ms linear;
    will-change: opacity, max-height;
}

#sidebar.expand .sidebar-item .has-dropdown.active+.sidebar-dropdown {
    display: block;
    max-height: 15em;
    transition: all 200ms linear;
    opacity: 1;
}

/* Dropdown Icon */

#sidebar.expand .sidebar-link.has-dropdown::after {
    content: "";
    display: inline-block;
    padding: 2px;
    position: absolute;
    right: 1.5rem;
    top: 1.4rem;
    transform: rotate(45deg);
    transition: all .2s ease-out;
    border: solid;
    border-width: 0 .075rem .075rem 0;
}

#sidebar.expand .sidebar-link.has-dropdown.active::after {
    transform: rotate(-135deg);
    transition: all .2s ease-out;
}

/* Sidebar Dropdown Hover Effect */

.sidebar-dropdown a.sidebar-link {

}

.sidebar-dropdown a.sidebar-link::before {
    content: "";
    height: 0.125rem;
    width: 0.375rem;
    background-color: #ffffff80;
    position: absolute;
    left: 1.8rem;
    top: 50%;
    transform: translateY(-50%);
    transition: all 0.5s;
}

.sidebar-dropdown a.sidebar-link:hover:before {
    width: 1.25rem;
}

.sidebar-dropdown a.sidebar-link:hover {
    background: transparent;
    border-left: 3px solid transparent;
    padding-left: 3.8rem;
    color: #1a191c;
}

a.sidebar-link:hover,
.sidebar-link.active {
    background-color: #aeaeae29;
    border-left: 3px solid #7257f2;
}

.main {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow: hidden;
    width: 100%;
    transition: all 0.25s ease-in-out;
    background: #FFF;
}

.main{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow: hidden;
    transition: all 0.25s ease-in-out;   
    background: #FFF;
}

nav{
    display: flex;
    padding: 1rem 1.5rem;
    flex-wrap: nowrap;
    justify-content: flex-start;
    box-shadow: 0 0 2rem rgb(33, 37, 41, .1);
}

form{
    display: none;
}